@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR&display=swap');

html, body {
width:100%; 
height:100%;
background:#eee !important;
}
section {
margin-top:80px; /*header영역과 section영역이 겹치는 것 방지*/
font-family:Georgia, 'Black Han Sans', sans-serif;
}
h1, h2{
font-family:Georgia, 'Black Han Sans', sans-serif;
}
/*헤더 영역 시작*/
.header {
height:100px; /*헤더영역 폭 100px*/
position:relative;
padding:25px 5%; /*헤더영역 좌우 10% 여백*/
}
.header .logo {
float:left;
}
.header .logo a{
text-indent:-9999%; /*기존 로고 글씨 안보이게 하기 위함*/
font-size:30px;
font-family: Georgia, "Malgun Gothic", serif;
/*로고 이미지 설정*/
display:block;
height:80px; 
background:url(/resources/myproject/img/tag.png) no-repeat;
background-size:90%;
background-position: 0px center;/* 배경위치는 center(가로) center(세로)*/

}
.header .toggle-btn{
float:right;
margin-top:20px;
cursor:pointer;
}
span{
display:block;
background:black;
width:30px;
height:5px;
margin-bottom:5px;
}
/*헤더 영역 끝*/

/*본문 영역 시작*/
.side-bar .close-btn { /*사이드 메뉴 닫기 버튼*/
position: absolute;
top: 0;
left:20px;
font-size: 36px;
color:white;
cursor:pointer;
}
.side-bar { 
display:none;
heigt;/*nav메뉴 높이 화면 가득 채우기*/
width:300px; /*nav메뉴 너비 */
position:fixed;
top:0px;
right:0px;
height:100%;
background:black;
opacity:0.9;
z-index:21;
} 
.side-bar #nav li {
margin-top:30px;
}
.side-bar #nav li a { 
display:block;
padding:30px;
font-size:20px;
color:white;
text-align:center;
}
/*본문 슬라이드 영역 시작*/
section #carouselExampleCaptions{
display:block;
text-align:center; /*슬라이드 이미지 가운데 정렬*/
}

.carousel-item img{ /*슬라이드 사진 크기 조정*/
width:auto;
height: 400px;
}

.carousel-item h5{
font-size:35px;
font-family: Georgia, "Malgun Gothic", serif;
 /*슬라이드 안에 설명 타이틀에 그림자 효과 주기*/
text-shadow: 2px 2px 2px gray; /*offset-x, offset-y, 흐림의 정도(클수록 옅어짐) 그림자색*/
}
/*본문 슬라이드 영역 시작*/
/*본문영역 끝*/
/* 푸터 영역 시작 */
.footer {
padding-top:30px; /*원래 margin-top이었는데 작동하지 않아서 padding으로 바꿈*/
/* background-color: #a0cede 푸터 배경색 지정*/
}
.footer p {
margin:21px 0px;
color:#0064A2;
text-align:center; /*문장 내용을 가운데 정렬*/
}
/* 푸터 영역 끝 */

/*shop 본문 영역 시작*/
.section-title { 
text-align:center; 
font-size:42px;
margin-bottom:20px;
margin-top:-20px;
}
.shop-section h2{
text-align:center;
font-size:25px;
text-shadow: 2px 2px 2px gray; 
margin-top:40px;
}
.shop-section .container {
width:80%;
margin:0 auto;/*현재 영역을 수평 가운데 정렬시 margin:0 auto*/
}
.shop-section .container li {margin-top:30px;}
.container img{
width:100%;
height:auto;
margin-bottom:15px;
}
.review-info h3{
font-family: Georgia, "Malgun Gothic", serif;
font-size:20px;
}
.review-info p{
font-family: Georgia, "Malgun Gothic", serif;
font-size:18px;
}
.shop-section hr {display:block; height:1px; background:#888;}
/*shop 본문 영역 끝*/