@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Stylish&display=swap');

html, body {
width:100%; 
height:100%;
background:#eee !important;
}
section {
margin-top:80px; /*header영역과 section영역이 겹치는 것 방지*/
font-family:Georgia, 'Black Han Sans', sans-serif;
}
h1, h2{
font-family:Georgia, 'Black Han Sans', sans-serif;
}

/*헤더 영역 시작*/
.header {
height:100px; /*헤더영역 폭 100px*/
position:relative;
padding:25px 5%; /*헤더영역 좌우 10% 여백*/
}
.header .logo {
float:left;
}
.header .logo a{
text-indent:-9999%; /*기존 로고 글씨 안보이게 하기 위함*/
font-size:30px;
font-family: Georgia, "Malgun Gothic", serif;
/*로고 이미지 설정*/
display:block;
height:80px; 
background:url(/resources/sample/img/tag.png) no-repeat;
background-size:90%;
background-position: 0px center;/* 배경위치는 center(가로) center(세로)*/

}
.header .toggle-btn{
float:right;
margin-top:20px;
cursor:pointer;
}
span{
display:block;
background:black;
width:30px;
height:5px;
margin-bottom:5px;
}
/*헤더 영역 끝*/

/*본문 영역 시작*/
.side-bar .close-btn { /*사이드 메뉴 닫기 버튼*/
position: absolute;
top: 0;
left:20px;
font-size: 36px;
color:white;
cursor:pointer;
}
.side-bar { 
display:none; /*마우스로 클릭했을 때 보이도록 하고, default는 안보이도록*/
heigt;/*nav메뉴 높이 화면 가득 채우기*/
width:300px; /*nav메뉴 너비 */
position:fixed;
top:0px;
right:0px;
height:100%;
background:black;
opacity:0.9;
z-index:30;
} 
.side-bar #nav li {
margin-top:30px;
}
.side-bar #nav li a { 
display:block;
padding:30px;
font-size:20px;
color:white;
text-align:center;
}
/* 푸터 영역 시작 */
.footer {
clear:both; /*section에 의해 생긴 float속성 사라짐 */
padding-top:30px; /*원래 margin-top이었는데 작동하지 않아서 padding으로 바꿈*/
/* background-color: #a0cede 푸터 배경색 지정*/
}
.footer p {
margin:21px 0px;
color:#0064A2;
text-align:center; /*문장 내용을 가운데 정렬*/
}
/* 푸터 영역 끝 */

/*------------index.html---------------*/
/*본문 슬라이드 영역 시작*/
section #carouselExampleCaptions{
display:block;
text-align:center; /*슬라이드 이미지 가운데 정렬*/
}

.carousel-item img{ /*슬라이드 사진 크기 조정*/
width:auto;
height: 400px;
}

.carousel-item h5{
font-size:35px;
font-family: Georgia, "Malgun Gothic", serif;
 /*슬라이드 안에 설명 타이틀에 그림자 효과 주기*/
text-shadow: 2px 2px 2px gray; /*offset-x, offset-y, 흐림의 정도(클수록 옅어짐) 그림자색*/
}
/*본문 슬라이드 영역 시작*/
/*본문영역 끝*/


/*------------shop.html---------------*/
/*shop 본문 영역 시작*/
.section-title { 
text-align:center; 
font-size:42px;
margin-bottom:20px;
margin-top:-20px;
}
.shop-section h2{
text-align:center;
font-size:25px;
text-shadow: 2px 2px 2px gray; 
margin-top:40px;
}
.shop-section .container {
width:80%;
margin:0 auto;/*현재 영역을 수평 가운데 정렬시 margin:0 auto*/
}
.shop-section .container li {margin-top:30px;}
.container img{
width:100%;
height:auto;
margin-bottom:15px;
}
.clothes-info h3{
font-family: Georgia, "Malgun Gothic", serif;
font-size:20px;
}
.clothes-info p{
font-family: Georgia, "Malgun Gothic", serif;
font-size:20px;
}
.shop-section hr {display:block; height:1px; background:#888;}
/*shop 본문 영역 끝*/

/*------------sale.html---------------*/
.sale-section {
text-align:center;
}
/*할인이벤트 영역 시작*/
.sale-section .discount { 
width:80%;
margin:50px auto;/*현재 영역을 수평 가운데 정렬시 margin:0 auto*/
}
.discount li{
	margin-bottom:30px;
}
.discount li img {
position:relative;
width:100%;
heigth:auto;
}
.discount li a { /*이부분이 실제 a링크 영역*/
 /*a태그는 자리를 차지하지 않는 영역, block을 이용해서 자리를 차지하는 영역으로 변경*/
display:block;
width:100%;
height:100%;
position:relative; /*a태그에서 위치를 상대위치로 지정*/
}

/*마우스를 풀오버했을 때 나오는 배경색상, before가상요소 영역*/
.discount li a::before {
display:block;
width:100%;
height:100%; 
position:absolute;/*absolute 위치는 위 a태그에서 지정한 relative 위치에 한정해서 절대위치로 지정*/
top:0px;
left:0px;
background:#fff;
content:"";
opacity:0; /*투명도 0%로 지정*/
transition:all 0.3s;
}
.discount li a:hover::before {
opacity:0.7;
z-index:21;

}
.discount .info {
display:block;
position:absolute;
left:10px;
color:#000;
text-align:left;
opacity:0;
/*화면전환옵션 transform 모양변화에 대한 화면전환옵션, width, height 등등 all... */
transition:all 0.3s;
}
.discount li a:hover .info {
opacity:1;
margin:0px 20px;
transform:translateY(20px); /*모양이 변화할 때 Y세로축으로 20px 이동한다.*/
z-index:24;
}

/*할인 이벤트 제목 설정 시작*/
.discount .black-friday .info h2{
font-size:35px;
text-shadow: 2px 2px 2px gray; 
}
.discount .xmas h2{
font-size:35px;
text-shadow: 2px 2px 2px gray; 
color:red;
}
.discount .gold h2{
font-size:35px;
font-weight:bold;
text-shadow: 2px 2px 2px gray; 
color:#ffd700;
}
/*할인 이벤트 제목 설정 끝*/

.discount .info p {font-size:20px;}/*할인이벤트 기간 글자 크기 설정*/

/*2020어워즈 설명  크기 설정*/
.discount .gold .explain p { 
font-family: 'Noto Serif KR', serif;
font-size:20px;
font-weight:bold;
}
/*할인이벤트 영역 끝*/

/*------------outer.html---------------*/
/* outer 타이틀 */
.outer-section-title {
text-align:center;
font-size: 42px;
margin-bottom: 20px;
margin-top: -20px;
}
/* shop의 세부 카테코리 시작 */
.outer-section .category {
display:none;
position:absolute;
top:150px;
left:0;
width:100%;
background:gray;
text-align:center;
font-size:15px;
}
.outer-section .category li{
float:left;
width:33.333%;
margin-bottom:5px;
margin-top:5px;
}
/*shop의 세부 카테고리 끝*/
/*outer의 세부 카테고리 시작*/
.type-category li{
float:left;
width:20%;
}
.type-category li a {
display:block;
padding:10px;
text-align:center;
font-size:15px;
margin-bottom:20px;
}
/*outer의 세부 카테고리 끝*/
/*본문 영역 디자인 시작*/
.outer-section .container {
width:90%;
margin:0 auto;
}
.outer-section .container a{
display:block;
float:left;
width:50%;
height:auto;
padding:2%;
}
/*본문 영역 디자인 끝*/
/*outer 옷 이름과 가격 설정 시작*/
.container .clothes-info {
text-align:center;
}
.container .clothes-info h3{
font-size:18px;
}
.container .clothes-info p{
font-size:15px;
}
/*outer의 옷 이름과 가격 설정 끝*/

